<div class="home-container">
  <%= image_tag "b0472.png", :size => "300x300" %>
  <div class="home-container-text">
    <h1>教育は未来だ</h1>
    <p>Edfyiは、学校教育に関する経験やノウハウを記録・共有するサービスです</p>
    <p>日々の教育活動において、学びになったことや覚えておきたいことを</p>
    <p>他の教育者と共有しましょう</p>
  </div>
  <%= image_tag "b0693.png", :size => "300x300" %>
</div>

<div class="main-container">
  <div class="left-container">ヒダリ</div>

  <div class="center-container"></div>

  <div class="right-container">ミギ</div>
</div>

