body {
  margin: 0;
  padding: 0;
}

.nav{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  background-color: #F1FFFA;

}

.nav-title{
  color: #454545;
}

.search-form{
  height: 30px;

}

.search-input{

}

a{
  color: #454545;
  text-decoration: none;
}