body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.nav{
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 26px;
  background-color: #F1FFFA;

}

.nav-title{
  color: #454545;
}

.search-form{
  height: 30px;

}

.search-input{

}

a{
  color: #454545;
  text-decoration: none;
}

.home-container{
  height:450px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F1FFFA;
}

.main-container{
  width: 100%;
  padding-top: 30px;
  background-color: #D5C7BC;
  display: flex;
  flex: 1;
}

.left-container{
  width: 350px;

}

.center-container{
  background-color: white;
  flex: 1;

}

.right-container{
  width: 350px;

}

footer{
  padding: 0;
  margin: 0;
}